/* Code Refactoring -- Globla CSS */
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway/static/Raleway-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway/static/Raleway-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
/* Start Header Refactoring */
#r_logo-href {
    text-decoration: none;
    color: #FFF;
}

#r_header {
    background-color: #19285c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
#header-right {
    position: absolute;
    right: 30px;
    top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#onoff-btn {
    background: #2ea3dd;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    font-size: 16px;
    cursor: pointer;
}
.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 28px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2ea3dd;
}

input:checked + .slider:before {
  transform: translateX(43px);
}
/* Media query pour les petits écrans */
@media (max-width: 2200px) {
    #r_header {
        flex-direction: row; /* Passe en colonne sur les petits écrans */
        align-items: flex-start; /* Aligne les éléments à gauche */
        justify-content: space-between;
    }

    #options {
        flex-direction: column; /* Passe en colonne sur les petits écrans */
        align-items: flex-start; /* Aligne les éléments à gauche */
        left:50%;
    }

    #logo {
        height: 30px;
    }
    
    #r_buttons-action button {
        font-size: 14px;
    }
    
    .dropbtn {
        font-size: 14px;
    }
}

#r_logo-box {
    font-weight: bolder;
    font-size: 22pt;
    color: #FFF;
    display: inline-block;
    margin-left: 16px;
    margin-top: -17px;
    vertical-align: middle;
    padding-right: 25px;
    border-right: solid 1px #fff;
    ;
    margin-right: 14px
}
#r_logo-href{
    margin-top: 25px;
    display: flex;
}
#r_version p{
    font-size: 15px !important;
    font-weight: lighter;
    margin-top: -8px;
    float: right;
}

#logo {
    width: 54px;
    cursor: pointer;
    vertical-align: middle;
    margin-top: -1px;
    color: aliceblue;
    margin-right: 8px
}

#options {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    left:50%;
}


#r_competition-box {
    display: inline-block;
    margin-right: 14px
}


#r_competition-label {
    color: aliceblue;
    margin-bottom: -3px;
    text-align: center
}

#r_competition-box select {
    min-width: 200px
}
#r_competition-box_deformation {
    display: flex;
    flex-direction: row;
    margin-right: 14px;
    align-items: center;
}
#r_competition-label_deformation {
    color: aliceblue;
    margin-bottom: -3px;
    text-align: center
}

#r_competition-box_deformation select {
    min-width: 200px;
    align-items: center;
}
#closePopupBtn {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    align-self: flex-end;
    position: absolute;
    right: 0;
    top: 0;
}

#r_course-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.r_course-label {
    color: aliceblue;
    margin-bottom: -3px;
    text-align: center
}

#r_course-box select {
    min-width: 200px;
    max-width: 300px;
}

#r_course-box_deformation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.r_course-label_deformation {
    color: aliceblue;
    margin-bottom: -3px;
    text-align: center
}

#r_course-box_deformation select {
    min-width: 200px;
    max-width: 300px;
}

.r_info_course-box {
    display: inline-block;
    margin-right: 14px
}

#r_data-box {
    display: inline-block;
    margin-right: 14px;
}

#r_data-box label {
    color: aliceblue;
    margin-bottom: -3px;
    text-align: center
}

#r_data-box select {
    min-width: 200px;
    max-width: 300px;
    padding: 6px 10px;
}

#r_data-validation-box {
    display: inline-block;
    margin-right: 14px
}

#r_data-validation-box p {
    color: aliceblue;
    font-weight: 600;
    margin-bottom: 2px
}

#r_data-validation-box label {
    text-align: center
}

#r_buttons-action {
    display: inline-block;
    margin-right: 14px
}

#r_buttons-action button, select {
    background-color: #fff;
}

#r_buttons-action select{
    display: inline-block;
    height: 38px;
    padding: 0 23px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
    
}

.ui-selectmenu-text {
    margin-top: 3px;
}

/* End Hedder Refactoring */

/* Start Main Container */

.container {
    margin-bottom: 5%;
    margin-top: 25px;
}

.ten {
    margin-left: 1%;
}

#vid-cont {
    overflow: hidden;
    border: solid #232157;
}

#video {
    width: 100%;
    height: calc(41.7937vw);
    position: relative;
    border: #555555 solid 1px;
    z-index: 10;
}

#crops {
    position: absolute;
    width: 100%;
    height: auto;
}

#vid {
    border: #555555 solid 1px;
    width: 100%;
    opacity: 1;
    cursor: crosshair;
    position: absolute;
}

#r_btn-controls {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

#r_bloc-buttons {
    display: inline-block;
    margin-top: 2px;
}

#controls {
    display: flex;
    width: 155px;
    position: relative;
}

#controls img {
    width: 29px;
}

#controls #poolop {
    width: 90%;
    z-index: 99;
    position: absolute;
    top: 40px;
    left: 10px;
}
#searchable-dropdown {
    width: 200px;
    margin: 20px;
}

#search-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

#searchable-select {
    width: 100%;
    height: auto;
    padding: 5px;
    box-sizing: border-box;
}

#speed {
    position: absolute;
    top: 31px;
    right: -30px;
    font-family: Roboto;
}

#volume {
    /* position: relative;
    top: -35px;s
    right: -129px; */
    font-family: Roboto;
    float:left;
}

#volume_range {
    float:left;
    width:120px;
}


#quality {
    position: absolute;
    top: 100px;
    left: 0px;
}

#volume_range_all {
    position: absolute;
    top: 110px; /* 145 si quality réglé*/
    left: 10px;
    overflow:hidden;
}

.__range-step {
    width: 160px;
    position: absolute;
    top: 60px;
    left: -40px;
}

#volume_sound_div {
    width: auto;
    position:relative;
    top:auto;
    left:auto;
}

#kmod {
    width: 160px
}

#timebar {
    width: 100%;
    display: flex;
    margin-top: 9px;
}

#nodule {
    margin-left: 5px;
}

#r_graph-box {
    margin-left: 1%;
    width: 10%;
}

#r_select-swimmer {
    text-align: center;
    align-items: center; 
    display: inline-block;
    margin-left: -10px;
    margin-top: -22px;
}

.two label {
    margin-bottom: -3px;
    text-align: center;
}

#swim_switch {
    min-width: 100px;
    max-width: 183px;
}

#r_p-distance-per-cycle {
    text-align: center;
    margin-bottom: -23px;
    margin-top: -1px;
    font-weight: 600;
}

#cyclebar {
    border: solid #555555 1px
}

#r_div-per-second {
    position: relative;
}

#r_div-per-second p {
    text-align: center;
    font-weight: 600;
    position: absolute;
    left: 20%;
}

#stats {
    border: solid #555555 1px;
}

#r_div-cycle-frequency {
    position: relative;
}

#r_div-cycle-frequency p {
    text-align: center;
    font-weight: 600;
    position: absolute;
    left: 9%;
}

#cycle_stats {
    border: solid #555555 1px;
}

#r_div-btn {
    max-height: 500px;
    margin-left: 1%;
}

#buttons {
    text-align: center;
    width: 100%;
}

#download {
    background-color: #fff;
    margin-right: 20px;
}

.r_boutons {
    margin-right: 40px;
}

/* #vidsw,
#hidlab,
#turn,
#ligneRef,
.selected,
.modbtn {
    background-color: #fff;
} */

#del {
    position: absolute;
    margin-left: 5px;
}

#del img {
    filter: invert(0.85);
    width: 24px;
    margin-top: -5px;
}

#left-m {
    position: absolute;
    margin-left: 55px;
    ;
    padding-left: 10px;
    padding-right: 10px;
    color: #FFF;
    background-color: #232157;
}

#right-m {
    position: absolute;
    margin-left: 85px;
    padding-left: 10px;
    padding-right: 10px;
    color: #FFF;
    background-color: #232157;
}

.shortParagraph{
    margin-bottom: 0.5rem;
}

#table_bod {
    overflow-y: auto;
}

#data-entry, #switch-button, #verification_charts  {
    position: relative;
}

#switch-button label {
    margin-left:0px;
}

#r_final-name {
    margin-top: 5%;
}
#r_final-name-edition {
    margin-top: 5%;
}


#r_record_new_save{
    display: flex;
    
}

#r_record_new_save #input {
    margin-right: 20px;
}

#r_record_where_save{
    display: flex;
    margin-top: 10px;
}

#r_record_where_save #input {
    margin-right: 20px;
}

.r_hideDiv {
    display: none;
}


.side_tab_content label{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

#temps_officiels{
    margin-top: -25px;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#nageurs, #courses {
   
    height: 100%;
    width: 50%;
}

#nageurs #nom, #nomNageur{
    width: 50%;
    margin-left: 10px;
}
#list-nageurs, #list-courses {
    padding-left: 10px;
    margin-top: 20px;
    border: 0.5px solid black;
    margin-left: 10px;
    margin-right: 10px;
    height: 600px;
    overflow: scroll;
}
#nageurs label {
    text-align: left;
    margin-left: 10px;
}
 #courses label {
    text-align: center;
}

#swimmerList, #courseList {
    border: 1px solid black;
}
.select-course{
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
}

.select-course input {
    margin-right: 20px;
    margin-top: 5px;
}

#generate_report label{
    text-align: center;
}
.btn-report{
    text-align: center;
    display: flex;
    flex-direction: column;
}

#btn-report-run, #btn-report-swimmer,  #telech{
    background-color: #232157;
    color: white;
}

#btn-report-swimmer{
    background-color: #232157 ;
    /* opacity: .8; */
}

.selectedSwimmer{
    background-color:#232157;
    color: white;
    cursor: pointer;
    padding-right: 30px;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.swimmerName {
    cursor: pointer;
}


